.header {
    max-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    position: fixed;
    width: 100%;
    padding: 30px 20px;
    background-color: #ffffff99;
    z-index: 1000;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    top: 0;
}

.header__link {
    text-decoration: none;
    color: inherit;
}

.header__cart {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.header__cart__img {
    width: 24px;
}
.header__cart__price {
    position: absolute;
    top: 0px;
    right: 0px;
}

.header__cart__link {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}