.golos-text-uniquifier {
    font-family: "Golos Text", sans-serif;
      font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
*, ::before, ::after {
    box-sizing: border-box;
}
body {
    font-family: "Golos Text", sans-serif;
    color: #000;
    margin: 0;
    padding: 20px;
}
h1 {
    text-align: center;
    color: #000;
    font-size: 24px;
    margin-top: 60px;
}
h2{
    color: #000;
    font-size: 16px;
    margin-top: 8px;
}
.container {

}

/* Header line  */

.header__line {
    display: flex;
    flex-direction: row;
    gap: 200px;
    justify-content: center;
}
.product__background {
    background-color: #D3F0FF;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.product__img {
    width: 290px;
    height: 142px;
    padding-top: 20px;
}
.product__img__center{
    align-items: center;
    justify-content: center;
}
.purchase__btn{
    width: 290px;
    height: 36px;
    border: 0;
    border-radius: 25px;
    margin-top: 30px;
}

.accordion {
    width: 240px;
}

.accordion li {
    list-style: none;
    width: 100%;
    border-radius: 25px;
    background: #D3F0FF;
}

.accordion li label {
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}

label::before {
    content: '+';
    margin-right: 10px;
    font-size: 24px;
}

input[type="radio"] {
    display: none;
}

.accordion .content {
    color: #555;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;

}

.accordion input[type="radio"]:checked + label + .content {
    max-height: 400px;
    padding: 10px 10px 20px;
}

.accordion input[type="radio"]:checked + label::before {
    content: '-';
}